<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <form id="loginForm" action="/" method="POST" enctype="multipart/form-data">
      <div>
        <label for="Image">Image:</label>
        <input type="file" id="imageCamera" name="imageCamera" required />
      </div>
      <button type="submit">Login</button>
      <h3 id="result">
        <span> </span>
      </h3>
    </form>
  </body>
</html>
